#page3 img 
{
	width: 100%;
}
#label2
{
	text-align: center;
	color: white;
}
#nores
{
	text-align:center;
	font-style: italic;
}

#imgacc
{
	height: auto;
	width:100%;
}
#travaux
{
	height: auto;
	width:100%;
}