
/*----------------------------------------------------------------HEADER*/
.popover-content
{
	color:black;
}
.head
{
	background-color:rgb(47,70,75);
	z-index: 2000;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.imglogomenu 
{
	margin-left: 30px;
	margin-top: 16px;
	height: 50px;
}

.menulogo
{
	text-align: left
}

.logoVG
{
	text-align: center;
}

.imglogoVG
{
	width:120px;
}
.client
{
	margin-top:15px;
}
.infobulle
{
	margin-top: 90px;
}
.shop
{
	margin-bottom: 5px;
	width:70px;
}
.fr
{
	margin-right: 10px;
	width:30px;
}

#slideun
{
	width: 100%;	
}
#slidedeux
{
	width: 100%;	
}
#slidetrois
{
	width: 100%;	
}

#titre
{
	font-weight: bold;
}
.fullwidth
{
	width:100%;
}

#img1
{
	width:100px;
	margin-top: 10px;
}
#img2
{
	width:100px;
	margin-top: 10px;
}
#img3
{
	margin-top: 10px;
	width:100px;
}
#img4
{
	width:100px;
	margin-top: 10px;
}
#img5
{
	margin-top: 5px;
	width:100px;
}
#img6
{
	width:100px;
	margin-top: 15px;
}

.mdp
{
	margin-top: 10px;
}
.btnLog
{
	margin-top: 10px;
	margin-left:55px;
}
.register
{
	margin-left:120px;
}

@media screen and (max-width: 768px) 
{

	.head
	{
		background-color:rgb(47,70,75);
		height: 90px;
		z-index: 2000;
	}

	.imglogomenu
	{
		margin-left: 30px;
		margin-top: 20px;
		height: 40px;
	}
}
.gris
{
	visibility: hidden;
	opacity:0.5;
	position:fixed;
	top:90px;
	bottom:0px;
	right: 0px;
	left:0px;
	background-color: white;
	z-index:-1000;
}

/*--------------------------------------------------------------------------------------REGISTER.php------*/

#form
{
	margin-top: 100px;
}
#elements
{
	text-align: center;
}
#prenom
{
	margin-top:20px;
}
#adrs
{
	margin-top:20px;
}
#cp
{
		margin-top:20px;

}
#ville
{
		margin-top:20px;
}
#pays
{
		margin-top:20px;

}
#mail
{
		margin-top:20px;

}
.btn-group
{
		margin-top:20px;

}
#btnsubmit
{
		margin-top:20px;
}
#popover298557
{
	margin-left:50px;
}
.cli
{
	visibility: hidden;
}
